body {
    position: center;
    background: url("../img/hero-bg.jpg");
    font-family: "Raleway", sans-serif;
    color: #444444;
}
  
.login {
    text-align: center;
    margin:auto;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    border: 3px solid #000 ;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    box-shadow: 5px 10px 10px rgba(greenSeaweed, 0.2);
}
    
.loginuser{
      padding: 10px;
}

.loginpass{
    padding: 10px;
}

.submit {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(224, 153, 0);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}